<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <!--<connectionStrings>
        <add name="Koneksi_Database1_26_07_2019.Properties.Settings.DBKotaConnectionString"
            connectionString="Data Source=WINDOWS10;Initial Catalog=DBKota;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings> -->
  
  <!-- Untuk Connection ke Database dengan nama BasisData dengan Data Connections -->
  <!--<connectionStrings>
    <add name="BasisData" providerName="System.Data.SQLClient" 
    connectionString="Data Source=WINDOWS10;Initial Catalog=DBKota;Integrated Security=True" />
  </connectionStrings>-->

  <!-- Untuk Connection ke Database dengan nama BasisData dengan Data Connections dengan SQL Authentication Login -->
  <connectionStrings>
    <add name="BasisData" providerName="System.Data.SQLClient"
    connectionString="Data Source=WINDOWS10;Initial Catalog=DBKota;User ID=nuriskandar;Password=1122" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>